=render 'regi_header_4'
.main-container__inner
  = form_for(:session, url: sign_in_completed_path , html: { id:"form", method: :get}) do |f|
    .signup-form
      .actions
        = f.submit "次へ進む" ,class: "btn-red"