.kaiin-main
  .kaiin-main__content
    .kaiin-main__content__top
      会員情報入力
    .kaiin-main__content__middle
      = form_for @users do |f|
        .kaiin-main__form
          = f.text__field  
           
      

