.footer-login
  %ul.footer-login__navi
    %li 
      = link_to "プライバシーポリシー"  ,'#'
    %li
      = link_to "メルカリ利用規約" ,'#'
    %lI  
      = link_to "特定商取引に関する表記" ,'#' 
    
  .footer-login__mercari-logo
    = image_tag ("logo_gray.svg")