.signup
  .signup__main
    .signup__main--top
      %h2 新規会員登録
    .signup__main--form
      .btn-sns.btn-sns__mail
        %i.fa.fa-envelope.icon--mail
        = "メールアドレスで登録する"
      .btn-sns.btn-sns__facebook
        %i.fa.fa-facebook.icon--facebook
        = "Facebookで登録する"
      .btn-sns.btn-sns__google
        %i.fa.fa-google.icon--google
        = "Googleで登録する"  