@mixin card-item() {
  &__item {
    height: 573px;
    width: 1020px;
  }
  &__contents {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 20px;
    width: 100%;
  }
  &__content {
    width: 188px;
    height: 252px;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
    border: 0px solid transparent;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    cursor: pointer;
    &:hover {
      outline: 1px solid rgb(0, 149, 238);
    }
    &__more-link {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }
  &__image {
    width: 188px;
    height: 188px;
    overflow: hidden;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      z-index: 1;
    }
    span {
      align-items: center;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 0 14px 14px 0;
      bottom: 8px;
      box-sizing: border-box;
      color: #fff;
      display: inline-flex;
      font-size: 17px;
      height: 28px;
      letter-spacing: 0.02em;
      margin: 0;
      padding: 0 12px;
      position: absolute;
      z-index: 2;
      left: 0;
    }
  }
  &__item-name {
    color: #222;
    font-size: 14px;
    height: 64px;
    line-height: 1.4em;
    padding: 0 12px;
    white-space: normal;
    word-break: break-word;
    background-color: #fff;
    margin-top: 10px;
    span {
      word-break: break-word;
      display: inline-block;
      height: 2.8em;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      align-items: center;
      visibility: visible;
      background-color: #fff;
      &:after {
        background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff 72%);
        bottom: 0;
        content: '';
        height: 50%;
        position: absolute;
        right: 0;
        width: 50%;
      }
    }
  }
}

@mixin m-title {
  height: 50px;
  padding: 8px 24px;
  h2 {
    font: {
      size: 24px;
      weight: bold;
    }
    text-align: center;
    line-height: 1.4;
  }
}

@mixin form-focus($color: #0099ff) {
  border: 1px solid $color;
  outline: 0;
}

@mixin fa-icon($icon, $color, $wg: 400, $size: 3em) {
  font-family: 'Font Awesome 5 Free';
  content: $icon;
  color: $color;
  font: {
    weight: $wg;
    size: $size;
  }
}

@mixin red-btn($wd: 100%, $fs: 14px, $fw: 0, $lh: 48px, $ocd: 0.95, $och: 1) {
  display: block;
  margin: 16px 0 0;
  width: $wd;
  background: #ea352d;
  border: 1px solid #ea352d;
  font-size: $fs;
  font-weight: $fw;
  text-align: center;
  line-height: $lh;
  opacity: $ocd;
  a {
    color: #fff;
  }
  &:hover {
    opacity: $och;
    transition: all ease-out 0.3s;
    cursor: pointer;
  }
}
