.wrapper{
  .sell-contents{
    display: block;
    &__main{
      width: 700px;
      margin: 0 auto;
      background: #fff;
    }
  }

  .sell-content{
    &__inner{
      h2{
        padding: 32px 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        font-weight: 600;
      }
      form{
        border-top: 1px solid #eee;
      }
    }
  }

  .sell{
    padding: 40px;
    border-top: 1px solid #eee;
  }
  .sell-upload{
    width: 620px;
    padding: 40px;
    label{
      font-weight: 600;
    }
    .info{
      margin-top: 8px;
      line-height: 1.5;
    }
    &__image{
      width: 620px;
      margin: 16px auto 0;
      display: block;
      margin: 16px auto 0;
      display: flex;
      flex-wrap: wrap;
      .item-preview{
        display: flex;
        &__inner{
          height: 162px;
          width: 112px;
          margin: 0 15px 10px 0;
          .item-image{
            height: 112px;
            width: 100%;
            img{
              width: 112px;
              height: 112px;
            }
          }
          .item-edit{
            display: flex;
            text-align: center;
            &__image{
              color: #00b0ff;
              width: 50%;
              height: 50px;
              line-height: 50px;
              border: 1px solid #eee;
              background: #f5f5f5;
              cursor: pointer;
            }
            &__delete{
              color: #00b0ff;
              width: 50%;
              height: 50px;
              line-height: 50px;
              border: 1px solid #eee;
              background: #f5f5f5;
              cursor: pointer;
            }
          }
        }
      }
      #image-drop{
        margin-bottom: 10px;
        width: 620px;
        .label-box {
          display: inline-block;
          border: 1px dashed #ccc;
          position: relative;
          background: #f5f5f5;
          width: 100%;
          height: 162px;
          cursor: pointer;
          &__text-visible {
            position: absolute;
            top: 50%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            font-weight: bold;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            pointer-events: none;
            white-space: pre-wrap;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}

  .form-name, .form-info{
    label{
      font-weight: 600;
    }
    .input-name{
      margin: 8px 0 0;
      width: 100%;
    }
  }

  .detail,.shipping,.price{
    display: flex;
    justify-content: space-between;
    h3{
      color: #888;
      font-size: 14px;
    }
  }

  .form-pulldown:first-child{
    margin: 0;
  }
  .form-pulldown{
    margin-top: 40px;
    label{
      font-weight: 600;
    }
  }

  .category-pulldown,.condition-pulldown,.shipping-pulldown{
    margin-top: 8px;
    position: relative;
    select{
      width: 100%;
    }
  }

  .sell-form{
    width: 400px;
    margin: 0;
  }

  .pulldown{
    position: relative;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
  }

  .down-icon{
    position: absolute;
    right: 16px;
    top: 40%;
    color: #888;
  }

  .sell-box{
    &__input{
      padding-bottom: 24px;
    }
    &__tax,&__total{
      padding: 24px 0;
      border-top: 1px solid #ccc;
    }
    &__input,&__total{
      label{
        font-weight: 600;
        line-height: 48px;
      }
    }
    &__tax,&__total{
      display: flex;
      justify-content: space-between;
      input{
        cursor: default;
        text-align: right;
      }
    }
    &__total{
      input{
        font-size: 34px;
      }
    }
  }

  .price-input-box{
    display: flex;
    justify-content: space-between;
    .input-box{
      &__text{
        width: 50%;
        line-height: 48px;
      }
      &__price{
        width: 50%;
        text-align: right;
        display: flex;
        line-height: 48px;
        input{
          margin-left: 5%;
          width: 80%;
          text-align: right;
        }
      }
    }
  }

  .must{
    background-color: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    font-weight: 600;
  }

  .input-name,.input-price{
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }

  .form-info{
    margin-top: 40px;
  }

  .text-info{
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    margin: 8px 0 0;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
  }

  .text-warning{
    color: #0099e8;
  }
  .sell-text{
    line-height: 1.5
  }
  .red-btn{
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
  }

  .submit-btn{
    button{
      margin-top: 40px;
    }
    .form-btn.gray-btn{
      width: 45%;
      margin: 24px auto 0;
    }
  }
  .hidden-image {
    .hidden-field {

    }
    .hidden-checkbox {
      
    }
  }


