* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: $back-color;
}

.toppage-main {
  width: 100%;

  &__category-top {
    margin-bottom: 16px;
    text-align: center;
    background-color: white;
    font-size: 28px;
    padding: 56px 0 30px;
    font-weight: 900;
  }
  &__logo {
    background-color: rgb(239, 239, 239);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    border-radius: 15px;
    padding: 8px 16px;
    margin: auto;
  }
  &__category-bottom {
    display: block;
    height: 100%;
    width: 1020px;
    background-color: rgb(245, 245, 245);
    padding: 42px 0 100px;
    flex-direction: column;
    margin: auto;
  }
  &__text {
    font-size: 24px;
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    margin-bottom: 16px;
    height: 33px;
    text-align: left;
    font-weight: 900;
  }
  &__item-more {
    color: rgb(0, 149, 238);
    font-size: 14px;
    float: right;
    text-decoration: none;
    padding: 5px 16px 5px 5px;
    font-weight: 900;
  }
  &__more-link {
    color: rgb(0, 149, 238);
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  &__item {
    height: 573px;
    width: 1020px;
  }
  @include card-item(); //アイテム表示
}
