.content-main{
  background-color: #fff;
  width: 700px;
  padding: 24px 40px 40px;
  margin: 40px auto 0;
}

.goods-name{
  font-size: 24px;
  text-align: center;
  line-height: 1.4;
  font-weight: 700;
}

.goods-info{
  margin: 8px 0 0;
  font-size: 14px;
  color: #888;
  line-height: 1.5;
}

.goods-main{
  margin: 16px 0 0;
  display: flex;
}

.goods-photo{
  min-width: 300px;
  max-width: 300px;
  min-height: 375px;
  margin: 0 auto;
  background-color: #fafafa;
  &__main{
    position: relative;
  }
}

.goods-data{
  max-width: 300px;
  width: 100%;
  height: 420px;
  margin: 0 auto;
  border: 1px solid #f5f5f5;
}

.price-box{
  margin: 24px 0 0;
  text-align: center;
  &__cash{
    margin: 0 16px 0 0;
    font-size: 50px;
    font-weight: 600;
  }
  &__tax{
    font-size: 10px;
  }
  &__shipping{
    display: inline-block;
    font-size: 16px;
  }
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  th{
    width: 39%;
    text-align: left;
    font-weight: 400;
    background-color: #fafafa;
    padding: 8px;
    border: 1px solid #f5f5f5;
  }
  td{
    width: 61%;
    background-color: #fff;
    padding: 8px;
    border: 1px solid #f5f5f5;
  }
}

.buy-btn{
  display: block;
  margin-top: 16px;
  background-color: #ea352d;
  color: #fff;
  text-align: center;
  font-weight: 600;
  line-height: 60px;
  font-size: 24px;
}

.goods-detail{
  padding-top: 32px;
}

.btn-box{
  margin: 16px 0 0;
  display: flex;
  justify-content: space-between;
  &__left{
    display: flex;
  }
  &__right{
    a{
      color: #0099e8;
    }
  }
  span{
    margin-top: 1px;
    margin-left: 8px;
    font-size: 14px;
  }
}

.btn{
  padding: 8px 16px;
  border-radius: 40px;
  display: block;
  &-good{
    color: #333;
    background-color: #f5f5f5;
  }
  &-report{
    margin-left: 16px;
    color: #333;
    background-color: #f5f5f5;
  }
}

.message{
  width: 700px;
  margin: 8px auto;
  background-color: #fff;
  &-box{
    padding:24px;
  }
  &-form{
    padding: 24px;
    &__content{
      p{
        font-size: 14px;
        background-color: #fff6de;
        padding: 8px;
      }
    }
  }
}

.form-text{
  margin-top: 8px;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.form-btn{
  display: block;
  width: 100%;
  line-height: 48px;
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  span{
    font-size: 14px;
    vertical-align: middle;
  }
}

.gray-btn{
  background-color: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

.comment-send{
  width: 100%;
  margin: 8px 0 0;
  font-size: 0;
  text-align: center;
}

.another-goods{
  width: 700px;
  margin: 24px auto 0;
  display: flex;
  justify-content: space-between;
  a{
    color: #0099e8;
  }
  &__back{
    width: 45%;
  }
}
.sns-links{
  width: 700px;
  margin: 24px auto;
  padding: 32px 0 24px;
  background-color: #fff;
    &__box{
      margin-top: 16px;
      display: flex;
      justify-content: center;
    }
   i{
    width: 44px;
    height: 44px;
    border-radius: 4px;
    line-height: 44px;
    margin: 0 8px 8px 0;
    vertical-align: middle;
    text-align: center;
   }
   a{
     display: block;
   }
}

.logo{
  &-facebook{
    color: #fff;
    background-color: #385185;
    font-size: 26px;
  }
  &-twitter{
    color: #fff;
    background-color: #5d9dc9;
    font-size: 24px;
  }
  &-line{
    color: #fff;
    background-color: #00c137;
    font-size: 22px;
  }
  &-pinterest{
    color: #fff;
    background-color: #aa262a;
    font-size: 18px;
  }
}

.user-items, .category-items{
  width: 700px;
  margin: 0 auto;
  h2{
    font-size: 22px;
    margin: 24px 0 8px;
    a{
      color: #0099e8;
    }
  }
  &__main{
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}
.item-content{
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  a{
    display: block;
    cursor: pointer;
  }
  &__photo{
    width: 220px;
    height: 220px;
    position: relative;
    vertical-align: middle;
  }
  &__detail{
    height: 110px;
    padding: 16px;
  }
}

.item3{
  margin-right: 0;
}

.item-photo{
  width: 100%;
  margin: auto 0;
}

.item-name{
  font-weight: 400;
  font-size: 16px;
  height: 3em;

}

.item-box{
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
  &__price{
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  &__like{
    color: #ccc;
    span{
      color: #333;
    }
  }
}

.category-items{
  margin-bottom: 40px;
}

.bottom-category{
  background: #f5f5f5;
  border-top: 1px solid #eee;
  &__class{
    width: 700px;
    margin: 0 auto;
    padding: 16px 0;
    i{
      margin: 0 8px;
      font-size: 9px;
      color: #888;
    }
    span{
      font-weight: 600;
    }
  }
}