=render 'shared/header'
.card
  =render 'shared/mypage_side'
  .content
    .container
      .title
        %h1 支払い方法
      .card__list
        %h2 クレジットカード一覧
        %button{type:'submit', class:'card__list__add-btn'}
          %span クレジットカードを追加する
      .payment-link
        %p
          =link_to "#" do
            支払い方法について
= render 'shared/footertop'
= render 'shared/footer'