.header
  = render "shared/header"
  = render 'shared/breadcrumb'
%main.list-wrapper
  .list-side
    = render 'shared/mypage_side'
  %section.list-contents
    %h2.list-contents__index
      出品した商品
    %ul.list-contents__tabs
      %li.active
        %h3
          =link_to "" do
            出品中
      %li
        %h3
          =link_to "" do
            取引中
      %li
        %h3
          =link_to "" do
            売却済み
    .list-contents__inner
      %ul.list-contents__inner-items
      - if @freemarkets.present?
        %li.list-contents__inner-item
          - @freemarkets.each do |freemarket|
            .list-item__image
              = image_tag freemarket.item_images[0].image_url.url, size:'55x55'
            .list-item__namebox
              .list-item__name
                =freemarket.item
              .list-item__icon
                =icon('far', 'heart', class:'icon-like')
                =icon('far', 'comment-alt', class:'icon-comment')
            .list-item__chebron
              =icon('fas', 'chevron-right')
      - else
        %li.list-contents__inner-noitem
          出品中の商品がありません