.header
  =render "shared/header"
.main
  =render "shared/mypage_side"
  .logout-container
    .logout-content
      .logout-content__inner
        .logout-btn
          =link_to destroy_user_session_path, class: "logout-content__btn",method: :delete do
            ログアウト
.footer
  = render 'shared/footertop'
  = render 'shared/footer'
