%header.main-header
  .header-inner
    .inner-top
      .inner-top__logo
        %a{href:"#"}
          = image_tag "fmarket_logo_red.svg", alt: 'logo', height: '36', width: '134', class: 'header-inner__top__logo'
      %form{action:"/", method:"post", class: "inner-top__form"}
        %input{type:"search", placeholder:"何かお探しですか",class:"search-form"}
        %button{type:"submit", class:"search-form__icon"}
          = icon('fas','search',class:'icon')
    .inner-lwr
      .lwr-menu
        .lwr-menu__category
          %a{href:"",class:"menu"}
            =icon('fas', 'list-ul')
            %span カテゴリーから探す
            .category-list
            %ul.category-list__parent
              %li.list-parent
                %a{href:"",class:"parent-name"} レディース
                %ul.list-parent__child
                  %li.list-child
                    %a{href:"",class:"child-name"} トップス
                    %ul.list-child__son
                      %li.list-son
                        %a{href:"",class:"son-name"} Tシャツ/カットソー(半袖/袖なし)
                      %li.list-son
                        %a{href:"",class:"son-name"} Tシャツ/カットソー(七分/長袖)
                      %li.list-son
                        %a{href:"",class:"son-name"} シャツ/ブラウス(半袖/袖なし)
                      %li.list-son
                        %a{href:"",class:"son-name"} シャツ/ブラウス(七分/長袖)
                      %li.list-son
                        %a{href:"",class:"son-name"} ポロシャツ
                      %li.list-son
                        %a{href:"",class:"son-name"} キャミソール
                      %li.list-son
                        %a{href:"",class:"son-name"} タンクトップ
                      %li.list-son
                        %a{href:"",class:"son-name"} ホルターネック
                      %li.list-son
                        %a{href:"",class:"son-name"} ニット/セーター
                      %li.list-son
                        %a{href:"",class:"son-name"} チュニック
                      %li.list-son
                        %a{href:"",class:"son-name"} カーディガン/ボレロ
                      %li.list-son
                        %a{href:"",class:"son-name"} アンサンブル
                      %li.list-son
                        %a{href:"",class:"son-name"} ベスト/ジレ
                      %li.list-son
                        %a{href:"",class:"son-name"} パーカー
                  %li.list-child
                    %a{href:"",class:"child-name"} ジャケット/アウター
                  %li.list-child
                    %a{href:"",class:"child-name"} パンツ
                  %li.list-child
                    %a{href:"",class:"child-name"} スカート
                  %li.list-child
                    %a{href:"",class:"child-name"} ワンピース
                  %li.list-child
                    %a{href:"",class:"child-name"} 靴
                  %li.list-child
                    %a{href:"",class:"child-name"} ルームウェア/パジャマ
                  %li.list-child
                    %a{href:"",class:"child-name"} レッグウェア
                  %li.list-child
                    %a{href:"",class:"child-name"} 帽子
                  %li.list-child
                    %a{href:"",class:"child-name"} バッグ
                  %li.list-child
                    %a{href:"",class:"child-name"} アクセサリー
                  %li.list-child
                    %a{href:"",class:"child-name"} ヘアアクセサリー
                  %li.list-child
                    %a{href:"",class:"child-name"} 小物
                  %li.list-child
                    %a{href:"",class:"child-name"} 時計
              %li.list-parent
                %a{href:"",class:"parent-name"} メンズ
              %li.list-parent
                %a{href:"",class:"parent-name"} べビー・キッズ
              %li.list-parent
                %a{href:"",class:"parent-name"} インテリア・住まい・小物
              %li.list-parent
                %a{href:"",class:"parent-name"} 本・音楽・ゲーム
              %li.list-parent
                %a{href:"",class:"parent-name"} おもちゃ・ホビー・グッズ
              %li.list-parent
                %a{href:"",class:"parent-name"} コスメ・香水・美容
              %li.list-parent
                %a{href:"",class:"parent-name"} 家電・スマホ・カメラ
              %li.list-parent
                %a{href:"",class:"parent-name"} スポーツ・レジャー
              %li.list-parent
                %a{href:"",class:"parent-name"} ハンドメイド
              %li.list-parent
                %a{href:"",class:"parent-name"} チケット
              %li.list-parent
                %a{href:"",class:"parent-name"} 自動車・オートバイ
              %li.list-parent
                %a{href:"",class:"parent-name"} その他
              %li.list-parent
                %a{href:"",class:"parent-name"} カテゴリ一覧
        .lwr-menu__brand
          %a{href:"",class:"menu"}
            =icon('fas', 'tags')
            %span ブランドから探す
      .lwr-user
        .lwr-user__new
          %a{class:"user-new btn-red"}
            新規会員登録
        .lwr-user__login
          %a{class:"user-login"}
            ログイン