%header.main-header
  .header-inner
    .inner-top
      .inner-top__logo
        =link_to "#" do
          = image_tag "fmarket_logo_red.svg", alt: 'logo', height: '36', width: '134', class: 'header-inner__top__logo'
      %form{action:"/", method:"post", class: "inner-top__form"}
        %input{type:"search", placeholder:"何かお探しですか",class:"search-form"}
        %button{type:"submit", class:"search-form__icon"}
          = icon('fas','search',class:'icon')
    .inner-lwr
      .lwr-menu
        .lwr-menu__category
          =link_to "",class:"menu" do
            =icon('fas', 'list-ul')
            %span カテゴリーから探す
          .category-list
            %ul.category-list__parent
              %li.list-parent
                =link_to "",class:"parent-name" do
                  レディース
                %ul.list-parent__child
                  %li.list-child
                    =link_to "",class:"child-name" do
                      トップス
                    %ul.list-child__son
                      %li.list-son
                        =link_to "",class:"son-name"do
                          Tシャツ/カットソー(半袖/袖なし)
                      %li.list-son
                        =link_to "",class:"son-name"do
                          Tシャツ/カットソー(七分/長袖)
                      %li.list-son
                        =link_to "",class:"son-name"do
                          シャツ/ブラウス(半袖/袖なし)
                      %li.list-son
                        =link_to "",class:"son-name"do
                          シャツ/ブラウス(七分/長袖)
                      %li.list-son
                        =link_to "",class:"son-name"do
                          ポロシャツ
                      %li.list-son
                        =link_to "",class:"son-name"do
                          キャミソール
                      %li.list-son
                        =link_to "",class:"son-name"do
                          タンクトップ
                      %li.list-son
                        =link_to "",class:"son-name"do
                          ホルターネック
                      %li.list-son
                        =link_to "",class:"son-name"do
                          ニット/セーター
                      %li.list-son
                        =link_to "",class:"son-name"do
                          チュニック
                      %li.list-son
                        =link_to "",class:"son-name"do
                          カーディガン/ボレロ
                      %li.list-son
                        =link_to "",class:"son-name"do
                          アンサンブル
                      %li.list-son
                        =link_to "",class:"son-name"do
                          ベスト/ジレ
                      %li.list-son
                        =link_to "",class:"son-name"do
                          パーカー
                  %li.list-child
                    =link_to "",class:"child-name"do
                      ジャケット/アウター
                  %li.list-child
                    =link_to "",class:"child-name"do
                      パンツ
                  %li.list-child
                    =link_to "",class:"child-name"do
                      スカート
                  %li.list-child
                    =link_to "",class:"child-name"do
                      ワンピース
                  %li.list-child
                    =link_to "",class:"child-name"do
                      靴
                  %li.list-child
                    =link_to "",class:"child-name"do
                      ルームウェア/パジャマ
                  %li.list-child
                    =link_to "",class:"child-name"do
                      レッグウェア
                  %li.list-child
                    =link_to "",class:"child-name"do
                      帽子
                  %li.list-child
                    =link_to "",class:"child-name"do
                      バッグ
                  %li.list-child
                    =link_to "",class:"child-name"do
                      アクセサリー
                  %li.list-child
                    =link_to "",class:"child-name"do
                      ヘアアクセサリー
                  %li.list-child
                    =link_to "",class:"child-name"do
                      小物
                  %li.list-child
                    =link_to "",class:"child-name"do
                      時計
              %li.list-parent
                =link_to "",class:"parent-name" do
                  メンズ
              %li.list-parent
                =link_to "",class:"parent-name" do
                  べビー・キッズ
              %li.list-parent
                =link_to "",class:"parent-name" do
                  インテリア・住まい・小物
              %li.list-parent
                =link_to "",class:"parent-name" do
                  本・音楽・ゲーム
              %li.list-parent
                =link_to "",class:"parent-name" do
                  おもちゃ・ホビー・グッズ
              %li.list-parent
                =link_to "",class:"parent-name" do
                  コスメ・香水・美容
              %li.list-parent
                =link_to "",class:"parent-name" do
                  家電・スマホ・カメラ
              %li.list-parent
                =link_to "",class:"parent-name" do
                  スポーツ・レジャー
              %li.list-parent
                =link_to "",class:"parent-name" do
                  ハンドメイド
              %li.list-parent
                =link_to "",class:"parent-name" do
                  チケット
              %li.list-parent
                =link_to "",class:"parent-name" do
                  自動車・オートバイ
              %li.list-parent
                =link_to "",class:"parent-name" do
                  その他
              %li.list-parent
                =link_to "",class:"parent-name" do
                  カテゴリ一覧
        .lwr-menu__brand
          =link_to "",class:"menu" do
            =icon('fas', 'tags')
            %span ブランドから探す
      .lwr-user
        - if user_signed_in?
          .lwr-user__like
            =icon('far', 'heart',class:"icon-header")
            いいね一覧
          .lwr-user__notice
            =icon('far', 'bell',class:"icon-header")
            お知らせ
          .lwr-user__todo
            =icon('fas', 'check',class:"icon-header")
            やることリスト
          .lwr-user__mypage
            =link_to  users_profile_path do
              =icon('fas','user',class:"icon-header")
              マイページ
          =link_to destroy_user_session_path, method: :delete do
            ログアウト
        - else
          .lwr-user__new
            =link_to new_user_registration_path, class:"user-new btn-red" do
              新規登録
          .lwr-user__login
            =link_to new_user_session_path, class:"user-login" do
              ログイン