.head
  .logo
    = image_tag 'fmarket_logo_red.svg', height: '49', width: '185'
.main
  .title
    %h1.title_text 商品内容の確認
  .product
  .address
  .payment
.foot
  .footmenu
  .footlogo
  .corporatemark