=render "devise/shared/header_login"
.ppc-main
  .ppc-main__upper
    .ppc-main__upper--title
      %h1 購入内容の確認
  .ppc-main__middle
    .ppc-main__middle--box
      = image_tag 'index2.jpg', height: '80', width: '80', class: 'image'
      .ppc-main__middle--smallbox
        %p 商品名
        %span ¥1,200（税込み）
        %span 送料込み
  .ppc-main__lower
    .ppc-main__lower--box
      .ppc-main__lower--box--small
        .ppc-main__lower--box--small-pay
          .ppc-main__lower--box--small-pay-box
            %h2 支払い金額
            %span ¥1,200
          %label
            %input{type: "checkbox"}
            ポイントを使用（所持ポイント:P0）
        .ppc-main__lower--box--small-method
          %h2 支払い方法
          .ppc-main__lower--box--small-method-box
            %i.fas.fa-plus-circle
            %span 登録してください
        .ppc-main__lower--box--small-address
          .ppc-main__lower--box--small-address-title
            %h3 配送先
            %span 変更する
          .ppc-main__lower--box--small-address-text
            %p
              〒123-4567
              %br
              大阪府岸和田市◯◯町１丁目◯◯-◯◯
              %br
              永橋　翼
        .ppc-main__lower--box--small-button
          %input{type: "submit", value: "購入する"}
=render "devise/shared/footer_login"
