.wrapper
  %header.header-sell
  %main.sell-contents
    %section.sell-contents__main
      .sell-content
        .sell-content__inner
          %h2 商品の情報を入力
          %form.sell-content__form
            .sell.upload
            .sell.name
              .form.name
              .form.info
            .sell.detail
              %h3.detail-category 商品詳細
              .sell-form
            .sell.shipping
              %h3.shipping-about 配送について
              .sell-form
            .sell.price
              %h3.price-limit 販売価格(300~9,999,999)
              .sell-form
            .sell.submit-btn
              .sell-text
                %p 禁止されている出品、行為を必ずご確認ください
                %p またブランド品でシリアルナンバー等がある場合はご記載ください。。偽ブランドの販売は犯罪であり処罰される可能性があります。
                %p また、出品をもちまして加盟店規約に同意したことになります。
              %button{type:'submit', class:'form-btn'}
                出品する