.content
  =render "shared/header"

  %section.content-main
    %h1.goods-name サンプル商品
    %p.goods-info
      この商品はtestさんが出品した商品になります
    .goods-main
      .goods-photo
        .goods-photo__main
      %table.goods-data
        %tr
          %th 出品者
          %td テストさん
        %tr
          %th カテゴリー
          %td テストカテゴリ
        %tr
          %th ブランド
          %td テストブランド
        %tr
          %th 商品サイズ
          %td M
        %tr
          %th 商品の状態
          %td 非常に良い
        %tr
          %th 配送料の負担
          %td 出品者の負担
        %tr
          %th 配送の方法
          %td メルカリらくらく便
        %tr
          %th 配送元地域
          %td 大阪
        %tr
          %th 発送日の目安
          %td 1〜2日
    .price-box
      %span.price-box__cash ¥1,800
      %span.price-box__tax (税込)
      %span.price-box_shipping 送料込み

    %a.buy-btn
      購入画面に進む
    .goods-detail
      %p.goods-detail_comment
        これはテスト商品です。

        テストのために出品しました。
        新品未使用となります。
    .btn-box
      .btn-box__left
        %a{href:"", class:"btn btn-good"}
          =icon('fas', 'heart')
          %span いいね
          %span.good-count 1
        %a{href:"", class:"btn btn-report"}
          =icon('fas', 'flag')
          %span 不適切な商品の報告
      .btn-box__right
        %a{href:"", class:"btn btn-lock"}
          =icon('fas', 'lock')
          %span あんしん・あんぜんへの取り組み
  .message
    .message-box
      .message-contents
        .message-contents
          %a{href:"", class:"user-icon"}
          .message-inner
            .message-box__text
              はじめまして。　これはテストですか？
        .message-contents
          %a{href:"", class:"user-icon"}
          .message-inner
            .message-box__text
              コメントありがとうございます。　これはテストです。

  .another-goods
    .another-goods__back
      %a{href:""}
        =icon('fas', 'chevron-left')
        テスト戻る
    .another-goods__next
      %a{href:""}
        =icon('fas', 'chevron-right')
        テスト進む
  .sns-links
    .sns-links__box
      .facebook
        %a{href:""}
          =icon('fab', 'facebook-square',class:'logo-facebook')
      .twetter
        %a{href:""}
          =icon('fab', 'twitter',class:'logo-twitter')
      .line
        %a{href:""}
          =icon('fab', 'line',class:'logo-line')
      .pintarest
        %a{href:""}
          =icon('fab', 'pinterest',class:'logo-pinterest')
  .user-items
