.content
  =render "shared/header"

  %section.content-main
    %h1.goods-name サンプル商品
    %p.goods-info
      この商品はtestさんが出品した商品になります
    .goods-main
      .goods-photo
        .goods-photo__main
      %table.goods-data
        %tr
          %th 出品者
          %td テストさん
        %tr
          %th カテゴリー
          %td テストカテゴリ
        %tr
          %th ブランド
          %td テストブランド
        %tr
          %th 商品サイズ
          %td M
        %tr
          %th 商品の状態
          %td 非常に良い
        %tr
          %th 配送料の負担
          %td 出品者の負担
        %tr
          %th 配送の方法
          %td メルカリらくらく便
        %tr
          %th 配送元地域
          %td 大阪
        %tr
          %th 発送日の目安
          %td 1〜2日
    .price-box
      %span.price-box__cash ¥1,800
      %span.price-box__tax (税込)
      %span.price-box_shipping 送料込み

    %a.buy-btn
      購入画面に進む
    .goods-detail
      %p.goods-detail_comment
        これはテスト商品です。

        テストのために出品しました。
        新品未使用となります。
    .btn-box
      .btn-box__left
        =link_to "#", class:"btn btn-good" do
          =icon('fas', 'heart')
          %span いいね
          %span.good-count 1
        =link_to "#", class:"btn btn-report" do
          =icon('fas', 'flag')
          %span 不適切な商品の報告
      .btn-box__right
        =link_to "#", class:"btn btn-lock" do
          =icon('fas', 'lock')
          %span あんしん・あんぜんへの取り組み
  .message
    .message-box
    .message-form
      %form.message-form__content
        %p 相手のことを考え丁寧なコメントを心がけましょう。　不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea{type:'text', name:'message', class:'form-text'}
        %button{type:'submit', class:'form-btn'}
          %span コメントする

  .another-goods
    .another-goods__back
      =link_to "#" do
        =icon('fas', 'chevron-left')
        テスト戻る
    .another-goods__next
      =link_to "#" do
        テスト進む
        =icon('fas', 'chevron-right')
  .sns-links
    .sns-links__box
      .facebook
        =link_to "#" do
          =icon('fab', 'facebook-square',class:'logo-facebook')
      .twetter
        =link_to "#" do
          =icon('fab', 'twitter',class:'logo-twitter')
      .line
        =link_to "#" do
          =icon('fab', 'line',class:'logo-line')
      .pintarest
        =link_to "#" do
          =icon('fab', 'pinterest',class:'logo-pinterest')
  .user-items
    %h2
      =link_to "#" do
        テストさんのその他の出品
    .user-items__main
      %section.item-content
        =link_to "#" do
          .item-content__photo
            =image_tag "bed.jpg", class:"item-photo", height:'220', width:'220'
          .item-content__detail
            %h3.item-name
              テストベッド１
            .item-box
              .item-box__price
                ¥1,000
              .item-box__like
                =icon('far', 'heart', class:'icon-like')
                %span 5
      %section.item-content
        =link_to "#" do
          .item-content__photo
            =image_tag "bed.jpg", class:"item-photo", height:'220', width:'220'
          .item-content__detail
            %h3.item-name
              テストベッド１
            .item-box
              .item-box__price
                ¥1,000
              .item-box__like
                =icon('far', 'heart', class:'icon-like')
                %span 5
      %section.item-content.item3
        =link_to "#" do
          .item-content__photo
            =image_tag "bed.jpg", class:"item-photo", height:'220', width:'220'
          .item-content__detail
            %h3.item-name
              テストベッド１
            .item-box
              .item-box__price
                ¥1,000
              .item-box__like
                =icon('far', 'heart', class:'icon-like')
                %span 5
      %section.item-content
        =link_to "#" do
          .item-content__photo
            =image_tag "bed.jpg", class:"item-photo", height:'220', width:'220'
          .item-content__detail
            %h3.item-name
              テストベッド１
            .item-box
              .item-box__price
                ¥1,000
              .item-box__like
                =icon('far', 'heart', class:'icon-like')
                %span 5

  .category-items
    %h2
      =link_to "#" do
        サンプル商品 その他の出品
    .category-items__main
      %section.item-content
        =link_to "#" do
          .item-content__photo
            =image_tag "bed.jpg", class:"item-photo", height:'220', width:'220'
          .item-content__detail
            %h3.item-name
              テストベッド１
            .item-box
              .item-box__price
                ¥1,000
              .item-box__like
                =icon('far', 'heart', class:'icon-like')
                %span 5
      %section.item-content
        =link_to "#" do
          .item-content__photo
            =image_tag "bed.jpg", class:"item-photo", height:'220', width:'220'
          .item-content__detail
            %h3.item-name
              テストベッド１
            .item-box
              .item-box__price
                ¥1,000
              .item-box__like
                =icon('far', 'heart', class:'icon-like')
                %span 5
      %section.item-content.item3
        =link_to "#" do
          .item-content__photo
            =image_tag "bed.jpg", class:"item-photo", height:'220', width:'220'
          .item-content__detail
            %h3.item-name
              テストベッド１
            .item-box
              .item-box__price
                ¥1,000
              .item-box__like
                =icon('far', 'heart', class:'icon-like')
                %span 5
      %section.item-content
        =link_to "#" do
          .item-content__photo
            =image_tag "bed.jpg", class:"item-photo", height:'220', width:'220'
          .item-content__detail
            %h3.item-name
              テストベッド１
            .item-box
              .item-box__price
                ¥1,000
              .item-box__like
                =icon('far', 'heart', class:'icon-like')
                %span 5
  .bottom-category
    .bottom-category__class
      =link_to "#" do
        テストホーム
      =icon('fas', 'chevron-right')
      %span テスト商品

  = render partial: 'shared/footertop'
  = render partial: 'shared/footer'

