*:not(br) {
  line-height: 1;
}

* {
  box-sizing: border-box;
}

.footer {
  width: 100%;
  background-color: rgb(34, 34, 34);
  padding: 0px 20px 10px;

  .topbox {
    display: flex;
    margin: 0 auto;
    width: 1020px;
    height: 300px;
    @include media('sp') {
      width: 100%;
      display: inline;
    }

    .box {
      float: left;
      vertical-align: top;
      margin-top: 18px;
      padding: 0px 40px 0px 0px;
    }

    .smallbox {
      float: left;
      vertical-align: top;
      word-break: break-all;
      width: 200px;
      padding-right: 20px;
    }

    .title {
      color: white;
      font-size: 16px;
      font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      margin-bottom: 20px;

      .atitle {
        font-weight: 600;
      }
    }

    .menu {
      width: auto;
      color: rgb(255, 255, 255);
      list-style: none;
      font-size: 12px;
      font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      cursor: pointer;
      cursor: hand;

      .list {
        display: block;
        width: auto;
        opacity: 0.7;
        text-decoration: none;
        padding-bottom: 20px;
        &:hover {
          text-decoration: underline;
        }
      }

      .link {
        text-decoration: none;
      }

      .fa-twitter {
        font-size: 30px;
        margin-top: 20px;
        margin-right: 20px;
        color: white;
      }

      .fa-facebook-square {
        font-size: 30px;
        color: white;
      }
    }
  }
  .bottombox {
    display: flex;
    margin: 30px auto 20px;
    width: 1020px;
    position: relative;
    @include media('sp') {
      width: calc(100% - 10px);
    }
    .logo {
      filter: invert(100%);
      a:hover {
        opacity: 0.7;
        transition: all ease-out 0.3s;
      }
    }
    .corporatemark {
      width: calc(1020px - 745px);
      padding: 14px;
      margin: 0 auto;
      list-style: none;
      font-size: 12px;
      color: white;

      .acorporatemark {
        margin-top: 15px;
        font-weight: 600;
      }
    }
  }
}
