.main-header {
  background-color: #fff;
  height: 100px;
  font-weight: 500;
  position: relative;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
}

.header-inner {
  max-width: 1020px;
  margin: 0 auto;
}

.inner-top {
  width: 100%;
  max-width: 1020px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  @include media('tb') {
    width: map-get($m-width, contents);
    padding-top: 0;
  }
  @include media('sp') {
    width: 100%;
    padding: 0 10px;
  }
  &__logo {
    display: flex;
    height: 40px;
    margin-right: 45px;
  }
  &__form {
    width: 100%;
    position: relative;
  }
}

.search-form {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
  padding: 0px 50px 0px 10px;
  &:focus {
    @include form-focus;
  }
  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    padding: 0px;
    background: none;
    cursor: pointer;
  }
}

.inner-lwr {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  @include media('tb') {
    width: map-get($m-width, contents);
  }
  @include media('sp') {
    width: 100%;
    padding: 0 10px;
  }
}

.lwr-menu {
  display: flex;
  float: left;
  &__category {
    cursor: pointer;
    height: 44px;
    position: relative;
    padding: 0px 10px;
  }
  &__category:hover .category-list {
    display: block;
    z-index: 3;
  }

  &__category:hover span {
    color: #0099e8;
  }

  &__brand {
    cursor: pointer;
    height: 44px;
    position: relative;
    padding: 0px 10px;
  }
}
.category-list {
  display: none;
  position: absolute;
  top: 44px;
  left: 0;
  color: #333;
  &__parent {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width: 200px;
  }
}

.list-parent {
  width: 200px;
  &__child {
    display: none;
    position: absolute;
    left: 200px;
    top: 0px;
    background-color: #fff;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width: 200px;
  }
  .child-name {
    display: block;
    padding: 8px 16px;
  }
}

.parent-name {
  display: block;
  font-size: 14px;
  line-height: 44px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0px 16px;
}
.list-parent:hover .list-parent__child {
  display: block;
}
.list-parent:hover .parent-name {
  background-color: #ea362d;
  color: #fff;
}
.list-child {
  width: 200px;
  &__son {
    display: none;
    position: absolute;
    left: 200px;
    top: 0px;
    background-color: #fff;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width: 300px;
  }
  .son-name {
    display: block;
    padding: 8px 16px;
  }
}
.list-child:hover .list-child__son {
  display: block;
}

.list-child:hover .child-name {
  background-color: #ccc;
}

.list-son:hover {
  background-color: #ccc;
  z-index: 100;
}

.menu {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  white-space: nowrap;
  i {
    max-width: 100%;
    max-height: 100%;
    color: #ea362d;
    height: 12px;
    margin-right: 4px;
  }
}

.fa-search {
  height: 14px;
  width: 14px;
  margin-top: 2px;
}

.lwr-user {
  display: flex;
  &__new {
    text-align: center;
  }
  &__login {
    text-align: center;
    margin-left: 11px;
  }
  &__like,
  &__notice,
  &__todo,
  &__mypage {
    padding: 0px 14px;
    display: block;
    a {
      &:hover {
        color: #0099e8;
        text-decoration: none;
      }
    }
  }
  &__like {
    @include media('tb') {
      display: none;
    }
  }
  &__like,
  &__todo {
    @include media('sp') {
      display: none;
    }
  }
}

.icon-header {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 32px;
}

.user-new {
  display: block;
  font-size: 14px;
  padding: 8px 10px;
  background-color: #ea362d;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #ea362d;
  border-image: initial;
  border-radius: 4px;
}
.user-login {
  display: block;
  font-size: 14px;
  padding: 8px 10px;
  background-color: #fff;
  color: #0095ee;
  border-width: 1px;
  border-style: solid;
  border-color: #0095ee;
  border-image: initial;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #333;
}

.login-menu {
  display: block;
  font-size: 14px;
  line-height: 36px;
  white-space: nowrap;
  i {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    color: rgb(204, 204, 204);
    margin-right: 10px;
    width: 13px;
  }
}
