header{
  background-color: #fff;
  height: 100px;
  font-weight: 500;
  position: relative;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
}

.header-inner{
  width: 700px;
  height: 92px;
  margin: 0 auto;
  padding: 8px 0 0;
}

.inner-top{
  width: 700px;
  height: 40px;
  display: flex;
  align-items: center;
  &__form{
    margin-left: 45px;
    width:100%;
  }
}

.inner-lwr{
  margin: 8px 0 0;
  height: 44px;
}

.lwr-user{
  float: right;
}

.lwr-menu{
  float: left;
  &__list{
    li{
      position: relative;
      display: inline-block;
      padding: 0 11px 0 0;
      cursor: pointer;
    }
    h2{
      font-size: 14px;
      font-weight: 400;
    }
    a{
    display: block;
    color: #333;
    }
  }
}

.menu-category{
  position: relative;
  height: 44px;
  line-height: 32px;
}
.menu-brand{
  position: relative;
  height: 44px;
  line-height: 32px;
}

.fa-list-ul{
  color: #ea352d;
  font-size: 12px;
  margin-right: 4px;
}
.fa-tags{
  color: #ea352d;
  font-size: 12px;
  margin-right: 4px;
}
