.account-page{
  background: #f5f5f5;
  
}



.login-main{
  background: #fff;
  margin: 0 auto;
  width:456px;
  display: flex;
  flex-direction: column;
  max-width: none;
  width: 456px;

  &__top{
    padding: 40px 64px;
    text-align: center;
    a{
      display: block;
      margin: 8px 0 0;
      border: 1px solid #0099e8;
      background: #0099e8;
      color: #fff;
      line-height: 40px;
      text-decoration: none;
      text-align: center;


    }
  
   
  }
  &__middle{
    padding: 32px 64px;
    
  }
}
.btn-sns{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  position: relative;


  &__facebook{ 
  
  margin: 0;
  background: #385185;
  color: #fff;
     
}

&__google{
  margin: 16px 0 0;
  background: #fff;
  border: #979797 solid 1px;
  color: #333;

}
}


.icon{
position: relative;
&--facebook {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  color: #fff;
  
  font-size: 20px;
}
&--google {
  color: #4c6ef5;
  background: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
}
}


.login-main__under{
padding: 24px 64px;
}
.form__field{
 

&--login{
  margin:24px 0 0 ;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;

}
&--forget{
  margin:40px 0 0;
 a{
  color: #0099e8;
  text-decoration: none;
 }
}


}

.form__field--input__email{
width:330px ;

margin: 0 auto;
display: flex;
flex-direction: column;


input{
  
  
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
   }
 }
