%header
  =render "/shared/header"
.category-main
  %h2 カテゴリー一覧
  .category-parent
    - @parents.each do |parent|
      =link_to "", class:"category-parent__list" do
        =parent.category_name
  .category-list-box
    .category-parent-title
      %h3 レディース
    .category-list-box__content
      - @ladys.each do |lady|
        .child
          .child-name
            =lady.category_name
          .grandchild
            - lady.children.each do |grandchild|
              =link_to '', class:"grandchild__list" do
                =grandchild.category_name
  .category-list-box
    .category-parent-title
      %h3 メンズ
    .category-list-box__content
      - @mens.each do |men|
        .child
          .child-name
            =men.category_name
          .grandchild
            - men.children.each do |grandchild|
              =link_to"", class:"grandchild__list" do
                =grandchild.category_name
  .category-list-box
    .category-parent-title
      %h3 ベビー・キッズ
    .category-list-box__content
      - @kids.each do |kid|
        .child
          .child-name
            =kid.category_name
          .grandchild
            - kid.children.each do |grandchild|
              =link_to"", class:"grandchild__list" do
                =grandchild.category_name
